/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* { 
	display: inline-block;
	
}
footer {
	text-align: center;
	margin: 20px;
}

h1 {
	margin: 0px 50px 00px 50px;
	font-size: 60px;
	text-align: center;
}

a {	display: inline-block;
	margin: 10px 20px 30px 10px;

 }
 .logo {
	
	margin: 10px 10px 0px 30px;
	padding: 20px 0px 0px 0px;
 }
 
.container {
	display: inline-block;
	margin: 10px 40px 10px 500px;
	width: 1000px;
	max-height: fit-content; 
	padding: 10px 10px 10px 10px;
	
}

.nav {
	margin: 0px 0px 0px 0px;
	width: 900px;
	max-height: fit-content; 
	padding: 5px;
	/* position: fixed;
	z-index: -1; */
	background-color: lightgrey; 
}


.header {
	margin: 100px 0px 0px 0px;
	padding: 5px;
	width: 800px;
}

.top-img {
	margin: 20px 0px 0px 20px;
	padding: 20px 0px 0px 10px;
}
/* here's where I needed to add the class selector in the right part of 
the  html & didn't. Please try to remember this 
mistake b/c it cost you a lot of time */
.topSection {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	width: 440px;
	
}
.middle-img {
	width: 900px;
	margin: 10px 10px 10px 10px;
	box-sizing: border-box;
}
.middleSection {
	display: inline-block;
	margin: 10px;
	width: 285px;
	padding: 10px;
}
.contact {
	text-align: left;
	margin: 10px;
}